* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

body {
  color: #444;
  font-family: sans-serif;
}

.container {
  max-width: 1288px;
  width: 100%;
  margin: 0 auto;
}

.main-header {
  background-color: #f4f4f4;
  padding: 20px 40px;
  margin-bottom: 30px;
}

.logo {
  height: 125px;
}

nav {
  font-size: 22px;
}

nav a:link {
  text-decoration: none;
  color: #093a6c;
}

nav a:hover {
  color: #4b90a0;
  text-decoration: underline;
}
