* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

body {
  color: #444;
  font-family: sans-serif;
}

.container {
  max-width: 1288px;
  width: 100%;
  margin: 0 auto;
}

.container-products {
  margin-top: 60px;
}

.main-header {
  background-color: #f4f4f4;
  padding: 20px 40px;
  margin-bottom: 30px;
}

.logo {
  height: 125px;
}

nav {
  font-size: 22px;
}

nav a:link {
  text-decoration: none;
  color: #093a6c;
}

nav a:hover {
  color: #4b90a0;
  text-decoration: underline;
}

.img-banner {
  width: 100%;
  height: 700px;
  background-image: url(./img/Design\ sem\ nome.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  width: 100%;
  height: 100%;
  opacity: 0.6;
}

.button-img {
  position: absolute;
  right: 30px;
  bottom: 200px;
  color: #f4f4f4;
  width: 450px;
  font-size: 32px;
}

.button-img p {
  margin-bottom: 16px;
}

.button-img button {
  font-size: 26px;
  padding: 10px;
  cursor: pointer;
  background-color: #093a6c;
  color: #f4f4f4;
}

.button-img button:hover {
  background-color: #d89747;
}

.titulo-categorias {
  font-size: 24px;
  text-align: center;
}

.mais-vendidos {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
  font-size: 22px;
  text-align: center;
}

.img-products {
  height: 250px;
}

p {
  margin: 10px 0;
}

.stars {
  margin-bottom: 25px;
}

.price {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 40px;
}

.price h4 {
  font-size: 24px;
}

.price button {
  font-size: 18px;
  padding: 10px;
  border-radius: 20px;
  cursor: pointer;
  background-color: #093a6c;
  color: #f4f4f4;
}

.price button:hover {
  background-color: #d89747;
}
