* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

body {
  color: #444;
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
button {
  font-family: "Lato", sans-serif;
}

.container {
  max-width: 1288px;
  width: 100%;
  margin: 0 auto;
}

.container-products {
  margin-top: 60px;
}

.main-header {
  background-color: #f4f4f4;
  padding: 20px 40px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  height: 125px;
}

nav a:link {
  text-decoration: none;
  color: #093a6c;
  margin-right: 20px;
  font-size: 24px;
  font-family: "Lato", sans-serif;
}

nav a:link:last-child {
  margin-right: 0;
}

nav a:hover {
  color: #4b90a0;
  text-decoration: underline;
}

.img-banner {
  width: 100%;
  height: 700px;
  background-image: url(./img/Design\ sem\ nome.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  width: 100%;
  height: 100%;
  opacity: 0.6;
}

.button-img {
  position: absolute;
  right: 30px;
  bottom: 200px;
  color: #f4f4f4;
  width: 450px;
  font-size: 32px;
}

.button-img p {
  margin-bottom: 16px;
}

.button-img button {
  font-size: 26px;
  padding: 10px;
  cursor: pointer;
  background-color: #093a6c;
  color: #f4f4f4;
}

.button-img button:hover {
  background-color: #d89747;
}

.titulo-categorias {
  font-size: 24px;
  text-align: center;
}

.products-category {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
  font-size: 22px;
  text-align: center;
}

.img-products {
  height: 250px;
}

p {
  margin: 10px 0;
}

.stars {
  margin-bottom: 25px;
}

.price {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 60px;
}

.price h4 {
  font-size: 24px;
}

.price button {
  font-size: 18px;
  padding: 10px;
  border-radius: 20px;
  cursor: pointer;
  background-color: #093a6c;
  color: #f4f4f4;
}

.price button:hover {
  background-color: #d89747;
}

.grid-img {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
  margin-bottom: 60px;
}

.el--3 {
  grid-column: -2 / -3;
  grid-row: 2 / 3;
}

.el--1 {
  grid-row: 1 / 3;
}

.el--4 {
  grid-row: -1 / -3;
}

.contato,
.frete-pagamentos {
  background-color: #444;
  color: #f4f4f4;
  padding: 20px;
}

.contato {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
}

.contato h3 {
  margin-bottom: 20px;
}

.contato li {
  margin-bottom: 20px;
  cursor: pointer;
}

.contato li:hover {
  text-decoration: underline;
}

.contato li:last-child {
  margin-bottom: 0;
}

form input,
form textarea,
form button {
  display: block;
  width: 320px;
  margin-bottom: 8px;
  padding: 8px;
}

form textarea {
  resize: none;
  width: 323px;
}

form button {
  margin: 0 auto;
  width: 50%;
  font-size: 24px;
  border-radius: 20px;
  background-color: #093a6c;
  color: #f4f4f4;
  cursor: pointer;
}

form button:hover {
  background-color: #d89747;
}

.redes-sociais {
  display: flex;
  gap: 10px;
}

.redes-sociais img {
  height: 30px;
}

.frete-pagamentos {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.frete-pagamentos img {
  height: 100px;
}

.frete-pagamentos h4 {
  font-size: 24px;
}

.frete-pagamentos .infos {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.linha {
  background-color: #f4f4f4;
  height: 0.5px;
}

.cartoes-lojasegura {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.ebit {
  margin-right: 20px;
}

.copyright {
  text-align: center;
  font-size: 12px;
  margin-bottom: 30px;
}
